{% extends "base.html" %}
{% block title %}Campaigns{% endblock title %}
{% block body %}
<div class="introductory-img" style="background: url('static/stock/bokeh.jpg');">
    <h1>Uniting hearts, sparking hope, transforming lives</h1>
</div>
<div class="campaign-container">

    {% for campaign in campaigns %}
    {% if campaign.bgimg %}
        <div class="campaign-item" onmouseover="showDescription(this)" onmouseout="hideDescription(this)" style="background: url({{campaign.bgimg.url}}); object-fit: scale-down;">


            <div class="sub-item-1">
                <h5>{{campaign.campaign_type}}</h5>
                
                <button class="btn-3"><a href="/display/{{campaign.id}}">More Info Here</button>                 
            </div>

            <div class="hidden-info"><i>{{campaign.title}}</i>
                <br>{{campaign.description}}    
            </div>

            <div class="hidden-links"><i>Links</i>
                <br>
                <a href="https://www.w3schools.com/" target="_blank">w3schools</a><br>
                <a href="https://www.google.com/" target="_blank">Google</a><br>
                <a href="https://www.canva.com/" target="_blank">Canva</a><br>
            </div>
            
        </div>

        {% else %}

            <div class="campaign-item" onmouseover="showDescription(this)" onmouseout="hideDescription(this)" style="background: url('static/stock/default1.jpeg'); object-fit: scale-down;">
                <div class="sub-item-1">
                    <h5>{{campaign.campaign_type}}</h5>
                    
                    <button class="btn-3"><a href="/display/{{campaign.id}}">More Info Here</button>                 
                </div>
    
                <div class="hidden-info"><i>{{campaign.title}}</i>
                    <br>{{campaign.description}}    
                </div>
    
                <div class="hidden-links"><i>Links</i>
                    <br>
                    <a href="https://www.w3schools.com/" target="_blank">w3schools</a><br>
                    <a href="https://www.google.com/" target="_blank">Google</a><br>
                    <a href="https://www.canva.com/" target="_blank">Canva</a><br>
                </div>
            </div>
        {% endif %}
    
    {% endfor %}    
</div>

<script>
    function showDescription(card) {
    const description = card.querySelector('.hidden-info');
    const links = card.querySelector('.hidden-links');
    description.style.visibility = 'visible';
    links.style.visibility = 'visible';
    }

    function hideDescription(card) {
    const description = card.querySelector('.hidden-info');
    const links = card.querySelector('.hidden-links');
    description.style.visibility = 'hidden';
    links.style.visibility = 'hidden';
    }
    
</script>
</body>
{% endblock body %}