{% extends "base.html" %}
{% block title %}View Event{% endblock title %}
{% block body %}
{% for c in campaign %}
{% if c.bgimg %}
<div class="campaign-window" style="background: url({{c.bgimg.url}}); object-fit:fill;">
    <h3>{{c.title}}</h3>
    <p>{{c.description}}</p>
    <div>
        {% if c.doe %}
        <div class="graybg">{{c.campaign_type}} begins on {{c.doe}}</div>
        {% endif %}
        
        <div class="c_info graybg">
            <p><u>Contact Information:</u></p>
            {% for info in c.contact_info %}
                {% for x in info %}
                    <div>{{x}}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <br>
    <button class="btn-1"><a href="/createRegistration/{{c.id}}">Register Here</a></button>
</div>

{% else %}
<div class="campaign-window" style="background: url('static/stock/default1.jpeg');">
    <h3>{{c.title}}</h3>
    <p>{{c.description}}</p>
    <div>
        {% if c.doe %}
        <div>{{c.campaign_type}} begins on {{c.doe}}</div>
        {% endif %}
        
        <div class="c_info">
            <p><u>Contact Information:</u></p>
            {% for info in c.contact_info %}
                {% for x in info %}
                    <div>{{x}}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <br>
    <button class="btn-1"><a href="/createRegistration/{{c.id}}">Register Here</a></button>
</div>
{% endif %}
{% endfor %}


{% endblock body %}

