{% extends "base.html" %} {% block title %} Home {%endblock title %} 

{% block body %}

<div class="page-window">
  <div class="features flex-column">
    <img src="CommunityConnect\media\tether.png" alt="icon" />
    <p>Scalable</p>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nam fugit
      blanditiis necessitatibus at aperiam molestias magnam atque similique
      omnis id facere nihil, error perspiciatis, alias debitis exercitationem
      expedita molestiae?
    </div>
  </div>

  <div class="features flex-column">
    <img src="CommunityConnect\media\tether.png" alt="icon" />
    <p>Transformative</p>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nam fugit
      blanditiis necessitatibus at aperiam molestias magnam atque similique
      omnis id facere nihil, error perspiciatis, alias debitis exercitationem
      expedita molestiae?
    </div>
  </div>

  <div class="features flex-column">
    <img src="CommunityConnect\media\tether.png" alt="icon" />
    <p>Revolutionary</p>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nam fugit
      blanditiis necessitatibus at aperiam molestias magnam atque similique
      omnis id facere nihil, error perspiciatis, alias debitis exercitationem
      expedita molestiae?
    </div>
  </div>
</div>

<div class="page-window">
  Making the world a better place is more than just a dream.
</div>
{% endblock body %}
