{% extends "base.html" %} {% block title %} Home {%endblock title %} 
{% load static %}
{% block body %}

{% if request.user.is_authenticated %}
<div class="page-window">
  <p class="welcome_user">Welcome back to the journey, {{request.user}}</p>
  {% comment %} <h5>making someone's life easier has never gotten easier.</h5>
  <h4>
    the most accessible and intuitive way to lend a hand to a needy one.
  </h4> {% endcomment %}
</div>
{% else %}
<div class="page-window flex-column" id="go-here">
  <p>Change Lives with just a few clicks.</p>
  <button class="btn-1">
    <a href="/login">Begin here</a>
  </button>
</div>
{% endif %}

<div class="page-window">
  <div class="features flex-column">
    <img src="{% static "media/scalability.png" %}" alt="icon" />
    <p>Scalable</p>
    <div>
      Our platform offers scalable solutions for NGOs, empowering transformative initiatives of all sizes. We believe in turning ideas into actions, fostering change, and making transformation possible. Empowers diverse NGOs, volunteers, and supporters to collaborate effectively.
    </div>
  </div>

  <div class="features flex-column">
    <img src="{% static "media/transformative.png" %}" alt="icon" />
    <p>Transformative</p>
    <div>
      We are dedicated to driving meaningful change by empowering NGOs through a digital platform. Together, we transform challenges into opportunities for growth and development, reaching broader audiences and raising substantial funds.
    </div>
  </div>

  <div class="features flex-column">
    <img src="{% static "media/revolutionary.png" %}" alt="icon" />
    <p>Revolutionary</p>
    <div>
      Collaboration's revolutionary power drives our mission. We unite NGOs, volunteers, and supporters, forming a potent network that surpasses individual efforts. Our platform catalyzes revolutionary change by uniting diverse minds.
    </div>
  </div>
</div>

<div class="page-window">
  Making the world a better place is more than just a dream.
</div>
{% endblock body %}
