{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Tether</title>

    <link rel="stylesheet" type="text/css" href="{% static 'general.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
  {{message}}
</div>
{% endfor %}
{% endif %}
  <body class="login-page">
    <div class="form-container">
      <p>Change Begins Here.</p>
      <form method="post" action="/register">
        {% csrf_token %}
        <input
          type="text"
          name="fullname"
          class="input-style"
          placeholder="Enter your Full Name"
          required
        /><br /><br />
        
        <input
          type="text"
          name="username"
          class="input-style"
          placeholder="Enter Username"
          required
        /><br /><br />

        <input
          type="email"
          name="email"
          class="input-style"
          placeholder="Enter Email-ID"
          required
        /><br /><br />

        <input
          type="password"
          name="pwd1"
          class="input-style"
          placeholder="Enter Password"
          required
        /><br /><br />

        <input
          type="password"
          name="pwd2"
          class="input-style"
          placeholder="Confirm Password"
        /><br /><br />

        <select name="role" class="input-style" required >
          <option value="" disabled selected hidden>Pick Account Type</option>
          <option value="naive_user">User</option>
          <option value="ngo">NGO</option>
          <option value="charity">Charity</option>
          <option value="mod">Moderator</option>
        </select><br /><br />
        
        {% comment %} <input
          type="datetime-local"
          class="input-style"
          placeholder="Enter DOB"
        /><br /><br /> {% endcomment %}

        <input type="submit" class="btn-1" />
      </form>
    </div>
  </body>
</html>
